.App {
  text-align: center;
  /* background-color: #1c6a76; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: rgb(233, 233, 233);
  text-decoration: none;
}

a:hover {
  color: rgb(128, 128, 108);
}

.main-color {
  background-color: rgb(53, 50, 53);
}